<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="linkConfirmacaoUsuario" value="http://gfin.azurewebsites.net/Usuario/ConfirmacaoUsuario/?token={0}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="smtp_host" value="smtp.gmail.com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="smtp_port" value="587"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="smtp_usuario" value="istartupbsb@gmail.com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="smtp_senha" value="aQBzAHQAQAByAHQAdQBwAA=="
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="GFinContext" connectionString="data source=webdb001.database.windows.net;initial catalog=DB_GFin;User ID=db_admin;Password=root_1326;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" 
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>