<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="linkConfirmacaoUsuario" value="http://isup05/GFin/Usuario/ConfirmacaoUsuario/?token={0}"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="smtp_host" value="smtp.gmail.com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="smtp_port" value="587"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="smtp_usuario" value="istartupbsb@gmail.com"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="smtp_senha" value="aQBzAHQAQAByAHQAdQBwAA=="
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add xdt:Transform="RemoveAll" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>