<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- Início da Configuração da Aplicação -->
    <add key="logsAppLogger" value="C:\\TEMP\\" />
    <add key="imagemCabecalhoEmail" value="H:\\Projetos\\Diversos-Organizar\\GFin\\GFin.Web\\Content\\site\\imgs\\email-topo.png"/>
    <add key="emailConfirmacaoUsuario" value="H:\\Projetos\\Diversos-Organizar\\GFin\\GFin.Tests\\Html\\emailConfirmacaoUsuario.html"/>
    <add key="linkConfirmacaoUsuario" value="http://localhost:8787/Usuario/ConfirmacaoUsuario/?token={0}"/>
    <!-- Config do SMTP -->
    <add key="smtp_emailRemetente" value="gfin@infoursys.com.br"/>
    <add key="smtp_nomeRemetente" value="inFourSys - Gerenciador Financeiro"/>
    <!-- SMTP da CASSI 
    <add key="smtp_host" value="172.20.2.6"/>
    <add key="smtp_port" value="25"/>
    <add key="smtp_usuario" value=""/>
    <add key="smtp_senha" value=""/>
    -->
    <!-- SMTP da GOOGLE -->
    <add key="smtp_host" value="smtp.gmail.com"/>
    <add key="smtp_port" value="587"/>
    <add key="smtp_usuario" value="istartupbsb@gmail.com"/>
    <add key="smtp_senha" value="aQBzAHQAQAByAHQAdQBwADIAMAAyADIA"/>
    <!-- Fim da Configuração da Aplicação -->
  </appSettings>
  <connectionStrings>
    <add name="GFinContext" connectionString="Data Source=192.168.1.18;Initial Catalog=DB_GFin;Persist Security Info=True;User ID=SA;Password=root123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>